<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portal Ginécologico</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/css/img/fotosreymar/thumbnail_reymar logo6.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- CSS Files -->
  <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/boxicons/css/boxicons.css" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:Ramyer1504@hotmail.com">Ramyer1504@hotmail.com</a>
        <i class="bi bi-phone"></i><a href="https://api.whatsapp.com/send?phone=584128532761">0414-5864121</a>
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="tiktok"><i class="bi bi-tiktok"></i></a>
        <a href="https://api.whatsapp.com/send?phone=584128532761" class="Whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="https://www.instagram.com/drarrojas_/" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo me-auto"><a href="index.html">Medilab</a></h1>-->
       <a href="/index.html" class="logo me-auto"><img src="/css/img/fotosreymar/thumbnail_reymar logo1.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="/contacto">Contacto</a></li>
          <li><a class="nav-link scrollto" href="#">Horarios</a></li>
          <li><a class="nav-link scrollto" href="/login">Admin</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/formulario" class="appointment-btn scrollto"><span class="d-none d-md-inline">Generar Cita</span></a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>CONTACTO</p>
      </div>
    </div>

   

    <div class="container">
      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Dirección:</h4>
              <p>Centro de Maracay, Calle Vargas Edif. Santa Cruz, Maracay, Aragua</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>Ramyer1504@hotmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Whatsapp</h4>
              <p>04145864121</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form  role="form" id="formulario">
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="nombre"></label>
                <input type="text" name="name" class="form-control" id="nombre" placeholder="Tu Nombre" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <label for="correo"></label>
                <input type="email" class="form-control" name="email" id="correo" placeholder="Tu Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="asunto"></label>
              <input type="text" class="form-control" name="subject" id="asunto" placeholder="Asunto" required>
            </div>
            <div class="form-group mt-3">
              <label for="mensaje"></label>
              <textarea class="form-control" name="message" rows="5" id="mensaje" placeholder="Mensaje" required></textarea>
            </div>
            
            <div class="text-center p-5"><button type="submit">Enviar Mensaje</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section --

      <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Dra. Reymar Rojas</h3>
            <p>
              Centro de Maracay<br>
              Calle Vargas, Edif. Santa Cruz<br>
              Maracay, Aragua <br><br>
              <strong>Teléfono:</strong> 04145864121<br>
              <strong>Email:</strong>Ramyer1504@otmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Horarios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/login">Admin</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contacto">Contacto</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="footer-logo">
              <img src="/css/img/fotosreymar/thumbnail_reymar logo.png" alt="">
            </div>
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Jesus A. Rojas</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Diseño de Jesus A. Rojas
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="tiktok"><i class="bx bxl-tiktok"></i></a>
        <a href="https://api.whatsapp.com/send?phone=584128532761" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.instagram.com/drarrojas_/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

<script src="./index.js"></script>

</body>

</html>