<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portal Ginécologico</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="css/img/fotosreymar/thumbnail_reymar logo6.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- CSS Files -->
  <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="css/boxicons/css/boxicons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:Ramyer1504@hotmail.com">Ramyer1504@hotmail.com</a>
        <i class="bi bi-phone"></i><a href="https://api.whatsapp.com/send?phone=584128532761">0414-5864121</a>
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="tiktok"><i class="bi bi-tiktok"></i></a>
        <a href="https://api.whatsapp.com/send?phone=584128532761" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="https://www.instagram.com/drarrojas_/" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>

<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

       <a href="/index.html" class="logo me-auto"><img src="css/img/fotosreymar/thumbnail_reymar logo1.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="/contacto">Contacto</a></li>
          <li><a class="nav-link scrollto" href="#">Horarios</a></li>
          <li><a class="nav-link scrollto" href="/login">Admin</a></li>
          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/formulario" class="appointment-btn scrollto"><span class="d-none d-md-inline">Generar Cita</span></a>
    </div>
  </header>
<!-- End Header -->


<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Bienvenidos</h1>
      <h2>Portal Ginécologico Dra. Reymar Rojas</h2>
      <a href="/formulario" class="btn-get-started scrollto">CITAS</a>
    </div>
  </section>
<!-- End Hero -->


<main id="main">

<!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>¿Por qué acudir al Ginecólogo?</h3>
              <p>
                La atención ginecológica regular es una forma de prevención clave para las mujeres. Los exámenes de rutina, como el papanicolau y la mamografía, pueden detectar problemas en etapas tempranas. Esto puede hacer la diferencia entre un tratamiento exitoso y la necesidad de tratamientos más invasivos en el futuro.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Agenda tu Cita <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-clipboard2-pulse"></i>
                    <h4>Prueba de Papanicolaou</h4>
                    <p>Examen para ayudar a prevenir y detectar temprano el cáncer de cuello uterino.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-prescription2"></i>
                    <h4>Mamografías</h4>
                    <p>Se usan para controlar si hay cáncer de mama cuando no hay signos ni síntomas de la enfermedad.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-virus"></i>
                    <h4>Vacuna VPH</h4>
                    <p>Protege contra la infección por ciertas cepas del VPH. El VPH puede causar cáncer cervical y verrugas genitales.</p>
                  </div>
                </div>
              </div>
            </div>
<!-- End .content-->
          </div>
        </div>

      </div>
    </section>
<!-- End Why Us Section -->

   
<!-- section -->
<div">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="section-title">
            <h2>PROMOS DISPONIBLES</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>
          <div> <img src="css/img/fotosreymar/Screenshot_20230606-142945_Instagram.jpg" alt="#" width="100%" height="100%" /> </div>
          <div>
            <p><i class="bi bi-clock"></i> Junio 10, 2023 ( Disponible en Consulta )</p>
          </div>
          <div>
            <h4>Dispositivo Anticonceptivo Levoplant</h4>
          </div>
          <div>
            <p>Varilla flexible que evita la ovulación y hace más espeso el moco del cuello del útero, impidiendo el paso de los espermatozoides al interior del útero.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <div> <img src="css/img/fotosreymar/Presentación1.jpg" alt="#" width="100%" height="100%" /> </div>
          <div>
            <p><i class="bi bi-clock"></i> Mayo 14, 2023 ( Disponible en Consulta )</p>
          </div>
          <div>
            <h4>Día de las Madres</h4>
          </div>
          <div>
            <p>Asiste a tu consulta con cita previa y disfruta de la promocion que tenemos para el mes de las madres. descuentos de 2x1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <div> <img src="css/img/fotosreymar/IMG-20230608-WA0066.jpg" alt="#" width="100%" height="100%"/> </div>
          <div>
            <p><i class="bi bi-clock"></i> Marzo 8, 2023 ( Disponible en Consulta )</p>
          </div>
          <div>
            <h4>Marzo con M. de Mujer</h4>
          </div>
          <div>
            <p>Descuentos disponibles en consultas previas por motivos al mes de la mujer, asiste a consulta y manten tu salud al día.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
    

<!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>MIS SERVICIOS</h2>
          <p>Genera tu consulta para el servicio que desees.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="">Test de Schiller</a></h4>
              <p>Procedimiento de rutina realizado en consulta para descartes de ETS.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4><a href="">Citólogias</a></h4>
              <p>Proceso realizado para el estudio de células del cuello uterino en descarte de procesos malignos.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">Cesáreas</a></h4>
              <p>Proceso integral quirúgico llevado a cabo en el tiempo estimado donde se procura menos dolor en la recuperación materna.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4><a href="">Parto Humanizado</a></h4>
              <p>Un parto humanizado es aquel que se lleva a cabo bajo la autonomía y decisión de la mujer. Reconociendo y confiando en su capacidad de parir.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-wheelchair"></i></div>
              <h4><a href="">Detección VPH</a></h4>
              <p>La prueba del VPH es un examen de detección de cáncer cervicouterino; sin embargo, no te indica si tienes cáncer.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4><a href="">Vacunas VPH</a></h4>
              <p>Protege contra los tipos de VPH que causan la mayoría de casos de cáncer cervical. Otros tipos menos comunes de VPH también pueden causar cáncer cervical. La vacuna no trata el cáncer cervical.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
<!-- End Services Section -->


<!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>GALERIA</h2>
          <p>Parte de mis experiencias en consultas...</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="css/img/fotosreymar/IMG-20230522-WA0058.jpg" class="galelry-lightbox">
                <img src="css/img/fotosreymar/IMG-20230522-WA0058.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="css/img/fotosreymar/IMG-20230522-WA0060.jpg" class="galelry-lightbox">
                <img src="css/img/fotosreymar/IMG-20230522-WA0060.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="css/img/fotosreymar/IMG-20230606-WA0014.jpg" class="galelry-lightbox">
                <img src="css/img/fotosreymar/IMG-20230606-WA0014.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="css/img/fotosreymar/IMG-20230606-WA0017.jpg" class="galelry-lightbox">
                <img src="css/img/fotosreymar/IMG-20230606-WA0017.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="css/img/fotosreymar/IMG-20230606-WA0008.jpg" class="galelry-lightbox">
                <img src="css/img/fotosreymar/IMG-20230606-WA0008.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="css/img/fotosreymar/IMG-20230606-WA0006.jpg" class="galelry-lightbox">
                <img src="css/img/fotosreymar/IMG-20230606-WA0006.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="css/img/fotosreymar/IMG-20230522-WA0055.jpg" class="galelry-lightbox">
                <img src="css/img/fotosreymar/IMG-20230522-WA0055.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="css/img/fotosreymar/IMG-20230522-WA0054.jpg" class="galelry-lightbox">
                <img src="css/img/fotosreymar/IMG-20230522-WA0054.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section>
<!-- End Gallery Section -->



<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Dra. Reymar Rojas</h3>
            <p>
              Centro de Maracay <br>
              Calle Vargas, Edif. Santa Cruz<br>
              Maracay, Aragua <br><br>
              <strong>Teléfono:</strong> 04145864121<br>
              <strong>Email:</strong>Ramyer1504@otmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Horarios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/login">Admin</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contacto">Contacto</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="footer-logo">
              <img src="css/img/fotosreymar/thumbnail_reymar logo.png" alt="">
            </div>
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Jesus A. Rojas</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Diseño de Jesus A. Rojas
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="tiktok"><i class="bx bxl-tiktok"></i></a>
        <a href="https://api.whatsapp.com/send?phone=584128532761" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.instagram.com/drarrojas_/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer>
<!-- End Footer -->



</body>

</html>