<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido al Pórtal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="/ss/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/img/fotosreymar/thumbnail_reymar logo6.png" rel="icon">

</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center align-content-center">
            <div class="col-8 barra bg-info">
                <p class="text-light">
                    <img src="/css/img/fotosreymar/thumbnail_reymar logo3.png" style="height: 50px; width: 150px;" alt="logo">
                </p>
            </div>
            <div class="col-4 pt-4 text-right barra bg-info">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a href="#" class="px-3 text-light perfil dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle user"></i></a>

                        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                            <a class="dropdown-item menuperfil cerrar" href="/login"><i class="fas fa-sign-out-alt m-1"></i>Salir</a>
                            <a class="dropdown-item menuperfil cerrar" href="#"><i class="bi bi-gear"></i> Editar Pérfil</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto bg-info">
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a href="/admin"><i class="fas fa-home"></i><span>Inicio</span></a>
                    <a href="/mensajes"><i class="fa fa-commenting-o"></i><span>Mensajes</span></a>
                    
                    <a href="/historial"><i class="fa fa-history"></i><span>Historial Citas</span></a>
                    <a href="/pagos"><i class="fa fa-usd"></i><span>Pagos</span></a>
                </nav>
            </div>
            <main class="main col">
                <div class="row justify-content-center align-content-center text-center">
                    <div class="columna col-lg-6">
                       <h4>¡Historial de Citas!</h4>
                       
                    <div class="text-center p-5">
                        <button class="btn btn-primary" type="submit" onclick="verPedidos()">Consultar</button>
                    
                    </div>

                    <table id="pedidoContainer2" style="#pedidoscontainer table{
                        width: 100%;
                    }
                    #pedidoscontainer table tr{
                        border-bottom: 1px solid black;
                    }">

                    </table>
                       
            </main>
        </div>
    </div>




    <script src="/historial/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/646c794df3.js"></script>
</body>

</html>